@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color-background: #f4f7fa;
    --primary-color-text: #676767;
    --primary-color-accent: #77a3fa;
    --primary-color-blue: #a4c7fe;
    --primary-color-red: rgb(232, 37, 37);
    --primary-color-green: rgb(81, 191, 81);
    --primary-color-yellow: rgb(223, 223, 28);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gruppo, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--primary-color-text);
    line-height: 1.6;
}

.header {
    background-image: url('img/plane.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 100px;
    gap: 10px;
}

.header h1 {
    font-size: 58px;
    color: white;
}

.header button {
    padding: 8px 16px;
    font-size: 19px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0px;
}

.header button:hover {
    background-color: var(--primary-color-accent);
}

.main {
    padding: 70px;
}

#flights {
    text-align: center;
}

#flights h2 {
    font-size: 28px;
    margin: 30px auto;
}

#flights-filter {
    padding: 30px 70px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    background-color: white;
    max-width: 1200px;
}

#flights-filter h3 {
    font-size: 19px;
    margin-bottom: 20px;
}

#flight-filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;
}

.filter-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 180px;
    min-width: 100px;
}

.filter-group label {
    font-size: 16px;
    margin-bottom: 5px;
}

.filter-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 19px;
    height: 40px;
    box-sizing: border-box;
    color: var(--primary-color-text);
}

.filter-group input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    height: 40px;
    font-size: 19px;
    box-sizing: border-box;
}

.filter-group input[list] {
    height: 40px;
}

.filter-group input:focus {
    outline: none;
    border-color: var(--primary-color-accent);
    color: var(--primary-color-accent)
}

button[type="submit"] {
    padding: 8px 16px;
    background-color: var(--primary-color-blue);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 19px;
    height: 40px;
    flex: 1 1 auto;
    align-self: flex-end;
    white-space: nowrap;
}

button[type="submit"]:hover {
    background-color: var(--primary-color-accent);
}


.flight-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
    gap: 30px;
    padding: 10px 70px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    background-color: white;
    max-width: 1200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 19px;
}

.flight-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.flight-box h3 {
    margin: 0;
}

.flight-price {
    color: var(--primary-color-accent);
    text-align: right;
    font-weight: bold;
}

footer {
    font-size: 11px;
    text-align: center;
    padding-bottom: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: white;
    margin: 70px auto;
    padding: 30px;
    width: 80%;
    max-width: 1200px;
    font-size: 19px;
}

#flight-details {
    margin-top: 20px;
    margin-bottom: 30px;
}

.close {
    color: var(--primary-color-text);
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--primary-color-accent);
    text-decoration: none;
    cursor: pointer;
}

#seats-filter {
    padding: 20px 50px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    background-color: white;
    max-width: 1200px;
}

.seat-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seat-options label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 19px;
}

.seat-options input[type="checkbox"],
.seat-options input[type="number"] {
    height: 19px;
    color: var(--primary-color-text);
    font-size: 19px;
}

.seat-options input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid var(--primary-color-text);
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.seat-options input[type="number"] {
    width: 50px;
    font-size: 19px;
}

.seat-options input[type="checkbox"]:checked {
    background-color: var(--primary-color-accent);
    border-color: var(--primary-color-accent);
}

input[type="number"]:focus {
    outline: none;
    color: var(--primary-color-accent);
}


#applyFilters {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 105px;
    font-size: 19px;
    background-color: var(--primary-color-blue);
    color: white;
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#applyFilters:hover {
    background-color: var(--primary-color-accent);
}

#seat-map {
    display: grid;
    grid-template-columns: repeat(3, 30px) 20px repeat(3, 30px);
    gap: 5px;
    width: 260px;
    margin: 20px auto;
}

.aisle {
    width: 10px;
    height: 30px;
}

.row-spacer {
    height: 20px;
}

.seat {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    user-select: none;
    border: 1px solid var(--primary-color-text);
}

.seat.occupied {
    background-color: var(--primary-color-red);
    color: white;
    cursor: not-allowed;
}

.seat.available {
    background-color: #ccc;
    color: var(--primary-color-text);
}

.seat.available:hover {
    background-color: var(--primary-color-green);
    transform: scale(1.05);
}

.seat.available.selected {
    background-color: var(--primary-color-green) !important;
    color: white !important;
    transform: scale(1.1);
    animation: pulse 0.2s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.seat.recommended {
    background-color: var(--primary-color-accent);
    color: var(--primary-color-text);
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#seat-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    background-color: white;
    max-width: 1200px;
}

#seat-summary {
    font-weight: bold;
}

#confirm-seats {
    padding: 8px 16px;
    font-size: 19px;
    background-color: var(--primary-color-accent);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#confirm-seats:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#seat-map-container {
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    background-color: white;
}

#custom-alert {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 2px;
    background-image: url(img/plane.jpg);
    background-size: cover;
    background-position: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color-accent);
    padding: 100px 50px 30px 50px;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#custom-alert.visible {
    visibility: visible;
    opacity: 1;
}

#alert-text {
    flex: 1;
    align-self: flex-end;
}

#close-alert {
    padding: 8px 16px;
    font-size: 19px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}